// Addthis styling
.addthis_jumbo_share {
 table {
  border: none;
  margin: 0;
  td {
   background: none;
   border: none;
  }
  .at4-count-container {
   .at4-title, .at4-count {
    text-align: center;
   }
  }
  .at4-share-container {
   text-align: center;
  }
 }
}
