//*ICONS*//
.plus-icon {
  background: url('../images/plus.png') no-repeat center;
}

.minus-icon {
  background: url('../images/minus.png') no-repeat center;
}

.sr-only {
  @extend .usa-sr-only;
}
.hidden{
  display: none;
  visibility: hidden;
}

.collapsed {
  display: none !important;
}
.clear-fix {
  clear: both;
  float: none;
}
.warning {
 color: $red;
 font-weight: 700;
}

.sticky-header {
  position: fixed;
  top: 0px;
  visibility: visible;
}

//clearfix using .group instead of adding div.clear-fix
.group:before,
.group:after {
  content:"";
  display:table;
}
.group:after {
  clear:both;
}
.group {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

.flex-container {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-item {
  flex: auto;
}

//adding url after link in print versions.
@media print {
  a[href]:after {
    content: " (" attr(href) ") ";
  }
}

//* responsive display/hide classes *//
.desktop, .tablet, .desktop-only {
  display: none;
}
.mobile-only, .mobile {
  display: inherit;
}
@media only screen and (min-width: 768px) {
  .tablet {
    display: inherit;
  }
  .mobile, .mobile-only {
    display: none;
  }
}
@media only screen and (min-width: 980px) {
  .desktop, .desktop-only {
    display: inherit;
  }
}
