// Typography

$base-font-size:      rem(17px);

$h3-font-size:        rem(30px);
$h4-font-size:        rem(20px);
$h5-font-size:        rem(17px);

$font-sans:           'ClearSans', $helvetica;

// Mobile First Breakpoints
$mid-screen:        768px;
