// Typography

$base-font-size:      rem(17px);

$h3-font-size:        rem(30px);
$h4-font-size:        rem(20px);
$h5-font-size:        rem(17px);

$font-sans:           'ClearSans', $helvetica;

// Mobile First Breakpoints
$mid-screen:        768px;

// Colors
$red: #e31c3d;
$blue: #336699;
$orange: #ff6633;
$teal: #669999;
$twitter: #6699ff;
$mediumblue: #205493;
$darkblue2: #143256;
$darkbluegrey: #323a45;
$lightblue: #55a0d2;
$grey: #888;
$primary: #0071bc;
$primarydarker: #205493;
$primary-darkest: #112e51;
$gray-dark: #323a45;
$gray-light: #aeb0b5;
