.legal-container {
  padding: 20px 0;
  text-align: center;
  @include media($mid-screen) {
    text-align: left;
  }
}
.descriptive-copy {
  margin-top: .5em;
  @include media($mid-screen) {
    margin-right: 1.5em;
  }
  margin-bottom: .5em;
}
.partner-cta {
  white-space: nowrap;
}
ul.links {
  width: auto;
  li {
    width: auto;
  }
}
