body.webkit.wp-editor {
  ol, ul {
    list-style: initial;
    margin-left: 21px;
  }
  ol {
    list-style-type: decimal;
  }
}
body.wp-admin {
  #poststuff h2 {
    font-size: 20px;
  }
}

//*Mobile *//
.desktop, .tablet, .desktop-only {
  display: none;
}
.mobile-only, .mobile {
  display: inherit;
}

html {
  font-family: $font-sans;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  color: $gray-dark;
}

h1, h2, h3, h4, a.logo {
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}

h3 {
  font-size: 30px;
  line-height: 39px;
  margin-top: 35px;
  margin-bottom: 20px;
}
h4 {
  font-size: 20px;
  line-height: 30px;
}
h5 {
  font-size: 17px;
  line-height: 27px;
}

ul, ol {
  margin: 20px 0 20px 20px;
  list-style: initial;
  display: block;

  li {
    margin-top: 0px;
    margin-bottom: 5px;
  }

  li:before, li:after {
    content: "";
    display: none;
  }
}
ol {
  list-style-type: decimal;
}
ul {
  list-style-type: disc;
}

p, li {
  font-size: 17px;
}
p {
  margin-bottom: 20px;
}

tr{
  display:table;
  width:100%;
}
td{
  display:table-row;
  background: #efefef;
}
section {
  padding: 40px 0 40px;
  .container {
    width: 80%;
    margin: 0 auto;
    font-size: 17px;
    >h1 {
      margin-top: 0;
    }
  }
}
a {
  text-decoration: underline;
}

strong {
  font-family: $font-sans;
  font-weight: 700;
}
.wrapper {
  width: 320px;
  margin: 0 auto;
}
//*Table Mobile Styling*/
table.responsive-chart {
  font-size: 17px;
  line-height: 17px;
  padding: 10px;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  border-bottom: 0 solid transparent;
  margin: 30px auto;
  width: 100%;
  max-width: 100%;
  table-layout: fixed;

  thead tr {
    display: none;
    border-bottom: 1px solid #c0c1c0;
  }
  th {
    background: #003b5c;
    color: #fff;
    font-weight: 500;
    border: 1px solid #fff;
    text-align: left;
    font-weight: 500;
    display: none;
  }

  td, th {
    padding: 10px;
    transition: .3s;
  }
  tr {
    transition: .3s;
    border-bottom: 2px solid #c0c1c0;

  }

  tbody {
    display: table-row-group;
    >tr {
      display: block;
      background-color: #ebebeb;
      border-radius: 2px;
      margin-bottom: 1em;
      padding: 4%;
    }
    td {
      vertical-align: middle;
      padding: 5px 10px;
      border: none;
      background-color: #ebebeb;
      line-height: 1.2em;
    }
    td[data-title]:before {
      content: attr(data-title);
      font-size: inherit;
      font-weight: 700;
      color: #003b5c;
      display: block;
      margin-bottom: 5px;
      margin-top: 10px;
    }
    td.state-name{
      display: block;
      padding: 0;
      p {
        font-size: 33px;
      }
      a {
        font-size: 20px;
        transition: .2s;
        font-weight: 700;
      }
    }
  }
}
th, td {
  padding-top: 15px;
  padding-left: 10px;
  height: 50px;
  transition: .3s
}
th {
  background-color: $darkbluegrey;
  color: #fff;
  height: 50px;
}
td {
  background-color: #fff;
}


//*ICONS*//
.plus-icon {
  background: url('../images/plus.png') no-repeat center;
}

.minus-icon {
  background: url('../images/minus.png') no-repeat center;
}

.sr-only, .hidden{
  display: none;
  visibility: hidden;
}

.collapsed {
  display: none !important;
}
.clear-fix {
  clear: both;
  float: none;
}
.warning {
 color: $red;
 font-weight: 700;
}

.addthis_jumbo_share {
 table {
  border: none;
  margin: 0;
  td {
   background: none;
   border: none;
  }
  .at4-count-container {
   .at4-title, .at4-count {
    text-align: center;
   }
  }
  .at4-share-container {
   text-align: center;
  }
 }
}
.sticky-header {
  position: fixed;
  top: 0px;
  visibility: visible;
}

//clearfix using .group instead of adding div.clear-fix
.group:before,
.group:after {
  content:"";
  display:table;
}
.group:after {
  clear:both;
}
.group {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}
//Common Elements Mobile//

section.not-found {
  padding-bottom: 0;
}
section.site-map {
  background: $darkbluegrey;
  color: #fff;
  h3 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 10px;
  }
  h2 {
    margin-bottom: 20px;
    margin-top: 0px;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li::before {
      content: "";
      padding-right: 0;
    }
  }
  li a, p {
    color: #aeb0b5;
    text-decoration: none;
    list-style: none;
  }
  button {
    width: auto;
  }
  .about {
    text-align: center;
    p, h2 {
      text-align: center;
    }
    h2 {
      color: #fff;
    }
  }
}
.about {
  .donate {
    margin: 0;
  }
}
//* Call to Action Mobile *//
section.call-to-action {
  background-color: #ccc;
  h2 {
    margin-top: 0;
  }
  p {
    margin-top: 0;
  }
  form {
     margin: 0 auto;
  }
  h2 {
    color: #000;
    margin-bottom: 10px;
    text-align: center;
  }
  input {
    height: 42px;
    font-size: 17px;
    border: 1px solid #000;
    border-radius: 2px;
    padding-left: 16px;
    margin-bottom: 10px;
    width: 100%;
  }

  button.donate {
    background-color: #00ccff;
    width: 138px;
  }
  input.email {
    max-width: 100%;
  }
  input.zip {
    width: 50%;
    float: left;
    margin-right: 3%;
  }
  input[type="submit"] {
    width: 47%;
    border: 0px;
    padding: 0;
    float: left;
    margin: 0.2em 0;
  }
}
@media only screen and (min-width: 768px) {
  .tablet {
    display: inherit;
  }
  .mobile, .mobile-only {
    display: none;
  }
  h1 {
    font-size: 52px;
    line-height: 62px;
  }
  //Table Tablet //
  table.two-columns {
    th, td {
      width: 50%;
    }
  }
  table.three-columns {
    th, td {
      width: 33%;
    }
  }
  table.four-columns {
    th, td {
      width: 25%;
    }
  }
  table.five-columns {
    th, td {
      width: 20%;
    }
  }
  table.responsive-chart {
    border: none;
    border-bottom: 0 solid transparent;
    thead {
      display: table-row-group;
      tr {
        display: table-row;
      }
      th {
        display: table-cell;
      }
      &.floatingHeader {
        position: fixed;
        top: 0;
        visibility: hidden;
        display: table;
      }
    }
    tbody {
      display: table-row-group;
      tr {
        display: table-row;
        background-color: #fff;
        border-radius: 2px;
        margin-bottom: 1em;
        padding: 4%;
        border-bottom: 1px solid #c0c1c0;
        //zebra striping 
        &:nth-of-type(2n){
          >td {
            background-color: #edeff0;
          }
        }
        td {
          display: table-cell;
          background-color: #fff;
          vertical-align: top;
          padding: 5px 10px;
          border-left: 1px solid #c0c1c0;
          border-right: 1px solid #c0c1c0;
        }
        td[data-title]:before {
          content: "";
          display: none;
        }
        td.state-name {
          font-weight: 500;
          display: table-cell;
          margin-bottom: 0;
          padding: 5px 10px;
          p {
            font-size: initial;
          }
          &:before {
            display: none;
          }
          a {
            border-bottom: none;
            text-decoration: underline;

          }
        }
      }
    }  
  }
  section.site-map {
    padding: 60px 0;
    h3 {
      font-size: 20px;
    }
    .nav-links {
      width: 50%;
      float: left;
      min-height: 248px;
    }
    .about, .partners {
      width: 48%;
      float: left;
    }
    .about {
      margin-right: 2%;
    }
  }
  section.call-to-action {
    padding: 60px 0;
    h2 {
      text-align: left;
    }
    form {
      margin: 0;
      max-width: 100%;
    }
    .about, .join {
      width: 48%;
      float: left;
    }
    .about {
      margin-right: 2%;
      p {
        margin-bottom: 10px;
      }
    }
    .join {
      border-left: 1px solid #888;
      margin-left: 15px;
      padding-left: 42px;
    }
    input.zip {
      width: 46%;
      margin-right: 4%;
      float: left;
    }
    input[type="submit"] {
      width: 50%;
    }
  }
}
@media only screen and (min-width: 980px) {
  .desktop, .desktop-only {
    display: inherit;
  }
  section.call-to-action, section.quick-links, section.site-map {
    .container {
      width: 980px;
    }
  }
  section.site-map {
    .nav-links {
      width: 25%;
      min-height: initial;
      li a {
        font-size: 17px;
        text-decoration: none;
      }
    }
    .about {
      width: 46%;
      margin-right: 4%;
    }
    .partners {
      width: 50%;
    }
  }
  section.call-to-action {
    .join {
      margin-left: 19px;
      input.email, input.zip {
        display: inline-block;
        margin-right: 9px;
      }
      input.email {
        width: 100%;
      }
      input.zip {
        width: 49%;
        margin-right: 3%;
      }
      input[type='submit'] {
        width: 48%;
      }
    }
  }
}
@media only screen and (min-width: 1280px) {

  section.call-to-action, section.quick-links, section.site-map {
    .container {
      width: 1100px;
    }
    .about p {
      margin-bottom: 30px;
    }
  }
  section.call-to-action {
    .join {
      padding-left: 72px;
    }
  }
}


//adding url after link in print versions.
@media print {
  a[href]:after {
    content: " (" attr(href) ") ";
  }
}

