body.webkit.wp-editor {
  ol, ul {
    list-style: initial;
    margin-left: 21px;
  }
  ol {
    list-style-type: decimal;
  }
}
body.wp-admin {
  #poststuff h2 {
    font-size: 20px;
  }
}
///*Fonts*//
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@font-face{ 
 font-family: 'ClearSans';
 src: url('../fonts/clear-sans-fontfacekit/fonts/clearsans_regular_macroman/ClearSans-Regular-webfont.eot');
}
@font-face{ 
 font-family: 'SourceSansPro';
 src: url('../fonts/sourcesanspro-regular-webfont.eot');
}

//*ICONS*//
.plus-icon {
  background: url('../images/plus.png') no-repeat center;
}

.minus-icon {
  background: url('../images/minus.png') no-repeat center;
}

.sr-only {
  display: none;
  visibility: hidden;
}

.collapsed {
  display: none !important;
}
.clear-fix {
  clear: both;
  float: none;
}
.warning {
 color: $red;
 font-weight: 800;
}
strong {
  font-weight: 800;
}

.addthis_jumbo_share {
 table {
  border: none;
  td {
   background: none;
   border: none;
  }
  .at4-count-container {
   .at4-title, .at4-count {
    text-align: center;
   }
  }
  .at4-share-container {
   text-align: center;
  }
 }
}
.sticky-header {
  position: fixed;
  top: 0px;
  visibility: visible;
}

//clearfix using .group instead of adding div.clear-fix
.group:before,
.group:after {
  content:"";
  display:table;
}
.group:after {
  clear:both;
}
.group {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

//adding url after link in print versions.
@media print {
  a[href]:after {
    content: " (" attr(href) ") ";
  }
}