// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$red: #e31c3d; 
$blue: #336699;
$orange: #ff6633;
$teal: #669999;
$twitter: #6699ff;
$mediumblue: #205493;
$darkblue: #112e51;
$darkblue2: #143256;
$darkbluegrey: #323a45;
$lightblue: #55a0d2;