// make sure VOTE.org doesn't have excessive margin on /state/ pages
h2.usa-display {
  margin-top: 0px;
}
  
// adding padding to partner container -- make sure font is right size
.partner-footer-container {
  padding: 40px 0;
  font-size: 17px;
}

// resize mission statement font
.mission-statement {
  font-size: 17px;
  line-height: 26px;
  max-width: 480px;
}

// adjust home-page quote padding
section.quote {
  padding: 75px 0px;
}

// new class for home page
.quote-text {
  font-size: 30px;
  margin-bottom: 40px;
  text-align: center;
}

// new class for homepage
.zebra {
  background-color: #dce4ef;
  text-align: center;
  padding: 75px 0px;
}

// register-tool padding has gone awry
.register-tool .container{
  padding: 20px 10px;
  max-width: 780px;
}

//styling VOTE.org on state pages
h2.site-name {
  font-size: 52px;
}
