
// adding padding to partner container -- make sure font is right size
.partner-footer-container {
  padding: 40px 0;
  font-size: 17px;
}

// resize mission statement font
.mission-statement {
  font-size: 17px;
  line-height: 26px;
  max-width: 480px;
}

// adjust home-page quote padding
section.quote {
  padding: 75px 0px;
}

// new class for home page
.quote-text {
  font-size: 30px;
  margin-bottom: 40px;
  text-align: center;
}

// new class for homepage
.zebra {
  background-color: #dce4ef;
  text-align: center;
  padding: 75px 0px;
}

// register-tool padding has gone awry
.register-tool .container{
  padding: 20px 10px;
  max-width: 780px;
}

//styling VOTE.org on state pages
h2.site-name {
  font-size: 52px;
  margin-top: 0px;
}

// adding margin to "state" div on absentee-ballot-rules page
.state {
  margin-bottom: 40px;
}

// make edit screen a bit more readable
#poststuff h2 {
  font-size: 20px;
}

// make edit screen a bit more readable
h2.hndle {
  font-size: 20px;
}

//everything below is my attempt to use the updated button classes
.usa-accordion, .usa-accordion-bordered {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    padding-left: 0;
    color: #212121;
    margin: 0;
    padding: 0;
    width: 100%;
}

.usa-accordion-button {
    background: none;
    border: 0;
    border-radius: 0;
    outline: 0;
    padding: 0;
    text-align: left;
    -webkit-font-smoothing: auto;
    color: #212121;
    display: inline-block;
    margin: 0;
    padding: 1.5rem 5.5rem 1.5rem 3rem;
    width: 100%;
}

.usa-accordion h4, 
.usa-accordion-bordered h4 {
  font-size: 17px;
  line-height: 17px;
}

.usa-accordion li, 
.usa-accordion-bordered li {
  margin-bottom: 12px;
}

//button height seems to fix this
button {
  height: auto;
}
