//*Mobile *//

footer {
  ul {
    margin: 20px 0;
  }
  li {
    list-style: none;
    &::before {
      content: "";
      padding: 0;
    }
  }
}

.legal-container {
  li {
    text-align: center;
  }
  &__row {
    @media only screen and (max-width: 768px) {
      flex-wrap: wrap;
    }
  }
}

.legalese {
  margin-bottom: 5px;
  width: 100%;

  @media only screen and (min-width: 768px) {
    width: auto;
    margin: 0 5px 5px 0px;
  }
}

@media only screen and (min-width: 768px) {
 footer {
  .container {
    width: 768px;
  }
   div.links {
     text-align: left;
     width: 369px;
     ul {
       margin: 0;
     }
     li {
       float: left;
       margin: 0 12px 0 0px;
       a {
         padding-right: 15px;
       }
       &:after {
         display: inline-block;
         content: "|";
       }
       &:last-of-type {
         a {
           padding-right: 0;
         }
         &:after {
           content: "";
           padding-right: 0;
           margin-right: 0;
         }
       }
     }
     div.copyright {
       text-align: center;
     }
   }
   div.legalese {
     text-align: left;
     p {
       text-align: left;
       margin-bottom: 0px;
     }
   }
   div.mixpanel {
    text-align: right;
   }
 }
}
@media only screen and (min-width: 980px) {
 footer {
  .container {
   width: 980px;
  }
 }
}


@media only screen and (min-width: 1280px) {

  footer {
    .container {
      width: 1100px;
    }

  }
}

// Addthis styling
.addthis_jumbo_share {
 table {
  border: none;
  margin: 0;
  td {
   background: none;
   border: none;
  }
  .at4-count-container {
   .at4-title, .at4-count {
    text-align: center;
   }
  }
  .at4-share-container {
   text-align: center;
  }
 }
}
