//*Mobile *//

footer {
  padding: 10px 0;
  p, a {
    font-size: 13px;
    line-height: 1.25em;
  }
  a {
    text-decoration: none;
  }
  div.links, div.mixpanel {
    text-align: center;
    ul {
      list-style: none;
      width: 100%;
      margin-top: 0;
      margin-left: 0;
    }
    li {
      text-align: center;
      a {
        font-size: 13px;
      }
      &::before {
        content: "";
        padding: 0;
      }
    }
  }
  div.legalese p {
    text-align: center;
    margin-top: 0;
  }
}

//*Tablet*/

@media only screen and (min-width: 768px) {
 footer {
  .container {
    width: 768px;
  }
   div.links {
     text-align: left;
     width: 369px;
     ul {
       margin: 0;
     }
     li {
       float: left;
       margin: 0 12px 0 0px;
       a {
         padding-right: 15px;
       }
       &:after {
         display: inline-block;
         content: "|";
       }
       &:last-of-type {
         a {
           padding-right: 0;
         }
         &:after {
           content: "";
           padding-right: 0;
           margin-right: 0;
         }
       }
     }
     div.copyright {
       text-align: center;
     }
   }
   div.legalese {
     margin: 0 0 5px 0px;
     text-align: left;
     float: left;
     width: 653px;
     p {
       text-align: left;
       margin-bottom: 0px;
     }
   }
   div.mixpanel {
    text-align: right;
   }
 }
}
@media only screen and (min-width: 980px) {
 footer {
  .container {
   width: 980px;
  }
  div.legalese {
    width: auto;
  }
 }
}

@media only screen and (min-width: 1280px) {

  footer {
    .container {
      width: 1100px;
    }

  }
}

