//*Mobile *//
.desktop, .tablet, .desktop-only {
  display: none;
}
.mobile-only, .mobile {
  display: inherit;
}
html {
  font-family: 'ClearSans', "Helvetica", "Arial", sans-serif;
  font-size: 10px;
}
body {
 font-family: 'ClearSans', sans-serif;
}
h1, h2, h3, h4 {
  font-weight: 800;
}

h1, h2 {
  font-size: 30px;
  line-height: 39px;
  color: $primarydarker;  
  margin-bottom: 1em;
  font-family: 'Merriweather', serif;
}

h3 {
  font-size: 20px;
  line-height: 30px;
  margin-top: 35px;
  margin-bottom: 20px;
}
h4 {
  font-size: 15px;
  line-height: 30px;
}
ul, ol {
  margin: 20px 0 20px 20px;
}
p, li {
  font-size: 17px;
  line-height: 25px;
}
p {
  margin-bottom: 20px;
}

tr{
  display:table;
  width:100%;
}
td{
  display:table-row;
  background: #efefef;
}
section {
  padding: 40px 0 40px;
  .container {
    width: 275px;
    margin: 0 auto;
    font-size: 17px;
  }
}
a {
  color: $lightblue;
}
footer {
  padding: 10px 0;
  p, a {
    font-size: 11px;
    line-height: 20px;
  }
  div.links {
    text-align: center;
    ul {
      list-style: none;
      width: 100%;
      margin-top: 0;
    }
    li {
      text-align: center;

      a {
        color: $lightblue;
      }
      &::before {
        content: "";
        padding: 0;
      }
    }
  }
  div.copyright {
    font-size: 13px;
    line-height: 20px;
    width: 100%;
    text-align: center;
  }
}
.wrapper {
  width: 320px;
  margin: 0 auto;
}
//*Table Styling*/
table.responsive-chart {
  font-size: 17px;
  line-height: 25px;
  padding: 10px;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  border-bottom: 0 solid transparent;
  margin: 30px auto;
  width: 100%;
  max-width: 100%; 
  thead tr {
    display: none;
  }
  th {
    background: #003b5c;
    color: #fff;
    font-weight: 500;
    border: 2px solid #fff;
    text-align: left;
    font-weight: 500;
    display: none;
  }

  td, th {
    padding: 10px;
    transition: .3s;
  }
  tr {
    transition: .3s;
    border-bottom: 2px solid #c0c1c0;

  }

  tbody {
    display: table-row-group;
    >tr {
      display: block;
      background-color: #ebebeb;
      border-radius: 2px;
      margin-bottom: 1em;
      padding: 4%;
    }
    td {
      vertical-align: middle;
      padding: 5px 10px;
      border: none;
      background-color: #ebebeb;
      line-height: 1.2em;
    }
    td[data-title]:before {
      content: attr(data-title);
      font-size: inherit;
      font-weight: 700;
      color: #003b5c;
      display: block;
      margin-bottom: 5px;
      margin-top: 10px;
    }
    td.state-name {
      font-size: 2em;
      font-weight: 700;
      color: $darkbluegrey;
      display: block;
      padding: 0;
      margin-bottom: 15px;
      a {
        color: #003b5c;
        border-bottom: 4px solid #003b5c;
        transition: .2s;
        &:hover {
          color: $lightblue;
          border-color: $lightblue;
          text-decoration: none;
        }
      }
    }
  }
}
th, td {
  padding-top: 15px;
  padding-left: 10px;
  height: 50px;
  transition: .3s
}
th {
  background-color: $darkbluegrey;
  color: #fff;
  height: 50px;
}
td {
  background-color: #fff;
}


.breadcrumbs {
  background: #000;
  padding: 2px 0px;
  h1 {
    font-size: 15px;
    font-family: 'ClearSans' sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    color: $grey;
    margin-bottom: 0;
  }
}

.register-tool {
  padding: 10px 0;
  background-color: $darkblue;
  .container {
    width: 100%;
  }
}
/*States & Homepage Mobile */
section.hero {
  background-color: $primarydarker;
  color: #fff;
  font-family: 'Merriweather' sans-serif;
  h2 {
    color: #fff;
    margin-bottom: 40px;
    text-align: center;
  }
  h1 {
    font-size: 52px;
    line-height: 62px;
    color: #fff;
    text-align: center;
  }
  .tagline {
    font-size: 36px;
    line-height: 42px;
    font-family: 'Merriweather' sans-serif;
    margin-bottom: 40px;
    text-align: center;
  }
  .box {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 20px;
    color: #fff;
    background-color: rgba(0,0,0,.2);
    padding: 20px;
    h2 {
      margin-bottom: 35px;
      text-align: left;
    }
    .register-line, .check-registration-line, .mail-line {
      height: 40px;
      margin-bottom: 10px;
    }
    .register-line {
      background: url('../images/register.png') no-repeat center;
      background-size: 100%;
    }
    .check-registration-line {
      background: url('../images/check-registration.png') no-repeat center;
      background-size: 100%;
    }
    .mail-line {
      background: url('../images/mail-divider.png') no-repeat center;
      background-size: 100%;
    }
    .usa-button {
      font-size: 20px;
      line-height: 30px;
    }

  }
}
/*Homepage Quote Mobile */
section.quote {
  .container {
    width: 320px;
  }
  blockquote {
    display: block;
    margin: 0 auto;
    text-align: center;
    h2 {
      margin-bottom: 0;
      text-align: center;
    }
    &:before {
      background: url('../images/left-quote.jpg') no-repeat 50%;
      background-size: 100%;
      height: 30px;
      width: 30px;
      position: relative;
      top: 32px;
      left: -66%;
      display: inline-block;
    }
    &::after {
      background: url('../images/right-quote.jpg') no-repeat 50%;
      background-size: 100%;
      height: 30px;
      width: 30px;
      position: relative;
      top: -269px;
      right: -63px;
      display: inline-block;
      float: right;
    }
  }
  .attribution {
    text-align: center;
    font-size: 17px;
    line-height: 25px;
    color: $gray-dark;
    
    h2 {
      text-align: center;
    }
  }
}
section.voter-registration-guide {
  h1, h3, h4 {
    color: $mediumblue;
  }
  .updated {
    color: $gray-dark;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 30px;
  }
}

section.faqs {
  background: #edefef;
  h1 {
    color: $mediumblue;
  }
  .usa-accordion {
    > ul > li {
      margin-bottom: 12px;
    }
    button.question {
      height: auto;
      background-color: #fff;
      background-position: 12.5em 2rem;
      font-weight: 800;

    }
  }
  .usa-accordion-content {
    padding: 2rem 3rem;
    line-height: 1.5em;
    ul, li {
      list-style: initial;
    }
    ol li {
      list-style-type: decimal;
    }
  }
}
section.sharing {
  background-color: #d6d7d9;
  color: $mediumblue;
  h2,h3,p,a {
    text-align: center;
  }
  h2 {
    margin-bottom: 15px;
  }
  .container > a {
    display: block;
    margin-bottom: 50px;
  }
  p {
    color: $gray-dark;
    width: 600px;
    margin: 0 auto 15px;
  }
  div {
    &.facebook {
      background-color: $blue;
    }
    &.twitter {
      background-color: $twitter;
    }
    &.email {
      background-color: $teal;
    }
    &.more {
      background-color: $orange;
    }
  }
  span {
    font-family: Helvetica;
    &.large-number {
      font-size: 60px;
    }
    &.shares {
      font-size: 18px;
      text-transform: uppercase;
    }
  }
}
section.site-map {
  background: $darkbluegrey;
  color: #fff;
  h3 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 10px;
  }
  h2 {
    margin-bottom: 20px;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li::before {
      content: "";
      padding-right: 0;
    }
  }
  li a, p {
    color: #aeb0b5;
    text-decoration: none;
    list-style: none;
  }
  button {
    width: auto;
  }
  .about {
    text-align: center;
    p, h2 {
      text-align: center;
    }
    h2 {
      color: #fff;
    }
  }
}

//* Call to Action *//
section.call-to-action {
  background-color: #ccc;
  h2 {
    color: #000;
    margin-bottom: 10px;
  }
  input {
    height: 42px;
    font-size: 17px;
    border: 1px solid #000;
    border-radius: 2px;
    padding-left: 16px;
    margin-bottom: 10px;
    width: 100%;
  }

  button.donate {
    background-color: #00ccff;
    width: 138px;
  }
  input.zip {
    width: 132px;
    float: left;
    margin-right: 10px;
  }
  input[type="submit"] {
    background: $red;
    width: 103px;
    border: 0px;
    padding: 0;
    float: left;
    margin: 0.2em 0;
  }
}


/*Faux Table*/
.table {
  font-size: 17px;
  line-height: 25px;
  border: 1px solid #5b616b;
  margin-bottom: 0;
  .header, .cell {
    padding: 16px;
  }
  .header {
    background-color: $darkbluegrey;
    color: #fff;
  }
  .cell {
    background-color: #fff;
  }
}

//*Tablet*/

@media only screen and (min-width: 768px) {
  .mobile-only, .mobile {
    display: none;
  }
  .tablet {
    display: inherit;
  }
  .container {
    width: 768px;
    margin: 0 auto;
  }
  section {
    padding: 75px 0;
    .container {
      width: 700px;
    }
  }

  //Table Tablet //
  table.responsive-chart {
    border: none;
    border-bottom: 0 solid transparent;
    thead {
      display: table-row-group;
      tr {
        display: table-row;
      }
      th {
        display: table-cell;
      }
    }
    tbody {
      display: table-row-group;
      tr {
        display: table-row;
        background-color: #fff;
        border-radius: 2px;
        margin-bottom: 1em;
        padding: 4%;
        td {
          display: table-cell;
          background-color: #fff;
          vertical-align: top;
          padding: 5px 10px;
          border-left: 1px solid #c0c1c0;
          border-right: 1px solid #c0c1c0;
        }
        td[data-title]:before {
          content: attr(data-title);
          font-size: inherit;
          font-weight: 700;
          color: #003b5c;
          display: block;
        }
        td.state-name {
          font-size: 1em;
          font-weight: 500;
          color: #003b5c;
          display: table-cell;
          margin-bottom: 0;
          padding: 5px 10px;
          &:before {
            display: none;
          }
          a {
            border-bottom: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }  
  }
  table.three-columns {
    th, td {
      width: 33%;
    }
  }
  table.four-columns {
    th, td {
      width: 25%;
    }
  }
  table.five-columns {
    th, td {
      width: 20%;
    }
  }

  //*Navigation Tablet*//
  nav.usa-site-navbar {
    height: 70px;
    .container {
      width: 768px;
      margin: 0 auto;
    }
    div.logo {
      margin-top: 10px;
    }
    ul.tablet.nav-menu {
      float: right;
      margin: 17px 0 0 0;

      .usa-button.usa-button-outline {
        box-shadow: inset 0 0 0 2px $darkblue;
        color: $darkblue;
      }
      > li {
        float: left;
        padding: 0 11px;
        margin-top: 5px;
        a {
          color: $darkblue;
          font-weight: 800;
        }
      }
      li::before {
        content: "";
        padding-right: 0;
      }
      a.usa-button {
        margin: 0;
      }
    }
  }
  .register-tool {
    background: url('../images/bkg-blue-large.png') no-repeat 50% 49%;
    background-size: cover;
    .container {
      width: 700px; 
    }
  }
  //*Homepage and State Hero Tablet*//
  section.hero {
    .container {
      width: 768px;
    }
    .box {
      width: 32%;
      float: left;
      margin-left: 1.5%;
      padding: 60px 30px;
      flex: 1;
      text-align: center;
      h2 {
        font-size: 26px;
        line-height: 36px;
        height: 115px;
      }
      .usa-button {
        padding: 10px;
        width: 100%;
      }
      .register-line, .check-registration-line, .mail-line {
        margin-bottom: 20px;
      }
    }
    .boxes {
      display: flex;
      div:nth-of-type(1) {
        margin-left: 0;
      }
    }
  }
  section.quote {
    .container {
      width: 617px;
    }
    blockquote {
      width: 83%;
      &:before {
        left: -58%;
        top: 36px;
      }
      &:after {
        top: -149px;
        right: -48px;
      }
    }
  }
  section.voter-registration-guide .table {
    border: none;
    display: flex;
    .header {
      width: 40%;
      float: left;
      border: 1px solid grey;
      flex: 1;
    }
    .cell {
      float: left;
      width: 60%;
      border: 1px solid grey;
      flex: 1;
    }
  }
  section.faqs {
    .usa-accordion {
      button.question {
        background-position: right 3rem center;
      }
    }
  }
  
  section.site-map {
    .nav-links {
      width: 50%;
      float: left;
      min-height: 248px;
    }
    .about, .partners {
      width: 48%;
      float: left;
    }
    .about {
      margin-right: 2%;
    }
  }
  section.call-to-action {
    .about, .join {
      width: 48%;
      float: left;
    }
    .about {
      margin-right: 2%;
      p {
        margin-bottom: 2px;
      }
    }
    .join {
      border-left: 1px solid #888;
      padding: 0 30px;
    }
    input.zip {
      width: 46%;
      margin-right: 4%;
    }
    input[type="submit"] {
      width: 50%;
    }
  }
  
  tr{
    display:table-row;
    width:100%;
  }
  td{
    display:table-cell;
    background:#efefef;
  }
  footer {
    div.links {
      margin: 0 auto;
      width: 54%;
      li {
        width: 33%;
        float: left;
        margin-top: 0;
      }
      div.copyright {
        text-align: center;
      }
    }
    div.legalese {
      margin: 0 auto;
      font-size: 13px;
      line-height: 20px;
      p {
        text-align: center;
      }
    }
  }
}
//* Desktop *//
@media only screen and (min-width: 980px) {
  .desktop, .desktop-only {
    display: inherit;
  }
  .container {
    width: 900px;
  }

  section, .register-tool {
  .container {
      width: 776px;
    }
  } 

  //*Navigation Desktop*//
  nav.usa-site-navbar {
    .container {
      width: 980px;
      margin: 0 auto;
    }
    ul.tablet.nav-menu {
      li {
        padding: 0 30px;
      }
      a.usa-button {
        margin-left: 11px;
      }
    } 
  }
  section.hero {
    .container {
      width: 900px;
    }
    .box {
      h2 {
        height: 100px;
      }
    }
  }
  section.quote {

    blockquote {
      &:before {
        left: -56%;
      }
      &:after {
        top: -150px;
        right: -44px;
      }
    }
  }
  //*Quick Links Desktop*//
  section.quick-links {
    h3 {
      margin-top: 0;
      margin-bottom: 10px;
    }
    .links-column {
      width: 24.25%;
      float: left;
      margin-right: 1%;
      ul {
        margin: 0;
        li {
          margin: 0;
          display: block;
          a {
            font-size: 11px;
            line-height: 16px;
          }
        }
      }
      li:before {
        content: "";
        padding-right: 0;
      }
    }
    .container div:nth-last-of-type(2) {
      margin-right: 0;
    }
  }
  section.site-map {
    .nav-links {
      width: 25%;
      min-height: initial;
      li a {
        font-size: 13px;
      }
    }
    .about {
      width: 46%;
      margin-right: 4%;
    }
    .partners {
      width: 50%;
    }
  }
  section.call-to-action {
    .about p {
      margin-bottom: 23px;
    }
  }
}
//* Larger Desktops *//
@media only screen and (min-width: 1280px) {
  section.hero {
    .container {
      width: 1160px;
    }
    .box {
      h2 {
        height: auto;
      }
    }
  }
  section.quick-links, section.site-map, section.call-to-action, footer, nav.usa-site-navbar {
    .container {
      width: 1132px;
    }
  }

}
@media only screen and (min-width: 1440px) {

  
}

//* IE 9 and 8 Stylings *//






