
//*Online Tools Section Mobile*//
.register-tool {
  padding: 0;
  background-color: $primary-darkest;
  .container {
    width: 100%;
    padding: 0;
  }
}
/*States & Homepage Mobile */
section.hero {
  background-color: $primarydarker;
  color: #fff;
  font-family: $font-serif;
  padding: 50px 0;
  .container {
    width: 320px;
  }
  h2 {
    color: #fff;
    margin-bottom: 40px;
    text-align: center;
    &.logo {
      margin-bottom: 20px;
      margin-top: 0px;
      font-weight: 700;
    }
  }
  h1 {
    font-size: 52px;
    line-height: 62px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    &.state-election-center {
      margin-bottom: 20px;
    }
  }
  .tagline {
    font-size: 36px;
    line-height: 42px;
    font-family: $font-serif;
    margin-bottom: 40px;
    text-align: center;
  }
  .box {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 60px;
    color: #fff;
    background-color: rgba(0,0,0,.2);
    padding: 20px;
    h2 {
      margin-bottom: 35px;
      text-align: left;
    }
    .register-line, .check-registration-line, .mail-line {
      height: 40px;
      margin-bottom: 10px;
    }
    .register-line {
      background: url('../images/register.png') no-repeat center;
      background-size: 100%;
    }
    .check-registration-line {
      background: url('../images/check-registration.png') no-repeat center;
      background-size: 100%;
    }
    .mail-line {
      background: url('../images/mail-divider.png') no-repeat center;
      background-size: 100%;
    }
    .usa-button {
      font-size: 20px;
      line-height: 30px;
    }

  }
}
/*Homepage Quote Mobile */
section.quote {
  .container {
    width: 320px;
  }
  blockquote {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 90%;
    h2 {
      margin-bottom: 0;
      text-align: center;
    }
    &:before {
      background: url('../images/left-quote.jpg') no-repeat 50%;
      background-size: 100%;
      height: 30px;
      width: 30px;
      position: relative;
      top: 32px;
      left: -50%;
      display: inline-block;
    }
    &::after {
      background: url('../images/right-quote.jpg') no-repeat 50%;
      background-size: 100%;
      height: 30px;
      width: 30px;
      position: relative;
      top: -269px;
      right: -6%;
      display: inline-block;
      float: right;
    }
  }
  .attribution {
    text-align: center;
    font-size: 17px;
    line-height: 25px;
    color: $gray-dark;
    
    h2 {
      text-align: center;
    }
  }
}
.usa-accordion {
  > ul > li {
    margin-bottom: 12px;
  }
}
.usa-accordion-content {
  padding: 2rem 3rem;
  line-height: 1.5em;
  ul, li {
    list-style: initial;
  }
  ol li {
    list-style-type: decimal;
  }
}
button.question {
  height: auto;
  font-weight: 800;
  h4 {
    color: #000;
    font-size: 17px;
    line-height: 26px;
  }
}
section.voter-registration-guide {
  h1, h3 {
    color: $mediumblue;
  }

  .state-info {
    margin-bottom: 40px;
    h2 {
      margin-top: 80px;
    }
  }
  .updated {
    color: $gray-dark;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 30px;
  }
}

section.faqs {
  background: #edefef;
  h1 {
    color: $mediumblue;
  }
  button.question {
    background-color: #fff;
  }
}
section.sharing {
  background-color: #dce4ef;
  color: $mediumblue;
  h2,h4,p,a {
    text-align: center;
  }
  h2 {
    margin-bottom: 15px;
  }
  h4 {
    margin-top: 0px;
  }
  .container > a {
    display: block;
    margin-bottom: 50px;
  }
  p {
    color: $gray-dark;
    max-width: 600px;
    margin: 0 auto 15px;
  }
  div {
    &.facebook {
      background-color: $blue;
    }
    &.twitter {
      background-color: $twitter;
    }
    &.email {
      background-color: $teal;
    }
    &.more {
      background-color: $orange;
    }
  }
  span {
    font-family: $font-sans;
    &.large-number {
      font-size: 60px;
    }
    &.shares {
      font-size: 18px;
      text-transform: uppercase;
    }
  }
}
section.site-map {
  background: $darkbluegrey;
  color: #fff;
  h3 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 10px;
  }
  h2 {
    margin-bottom: 20px;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li::before {
      content: "";
      padding-right: 0;
    }
  }
  li a, p {
    color: #aeb0b5;
    text-decoration: none;
    list-style: none;
  }
  button {
    width: auto;
  }
  .about {
    text-align: center;
    p, h2 {
      text-align: center;
    }
    h2 {
      color: #fff;
    }
  }
}

//* Call to Action *//
section.call-to-action {
  background-color: #ccc;
  h2 {
    color: #000;
    margin-bottom: 10px;
  }
  input {
    height: 42px;
    font-size: 17px;
    border: 1px solid #000;
    border-radius: 2px;
    padding-left: 16px;
    margin-bottom: 10px;
    width: 100%;
  }

  button.donate {
    background-color: #00ccff;
    width: 138px;
  }
  input.zip {
    width: 132px;
    float: left;
    margin-right: 10px;
  }
  input[type="submit"] {
    background: $red;
    width: 103px;
    border: 0px;
    padding: 0;
    float: left;
    margin: 0.2em 0;
  }
}


/*Faux Table*/
.table {
  font-size: 17px;
  line-height: 25px;
  border: 1px solid #5b616b;
  margin-bottom: 0;
  .header, .cell {
    padding: 16px;
  }
  .header {
    background-color: $darkbluegrey;
    color: #fff;
  }
  .cell {
    background-color: #fff;
  }
}

//* Voter Registration Rules & Absentee Ballot Rules Pages *//
.page-template-template-voter-registration-rules, .page-template-template-absentee-voting-rules {
  .usa-alert, .intro {
    margin-bottom: 20px;
  }
  .state {
    margin-bottom: 40px;
    .text {
      margin-bottom: 20px;
    }
  }
  
}

//*Tablet*/

@media only screen and (min-width: 768px) {
  .mobile-only, .mobile {
    display: none;
  }
  .tablet {
    display: inherit;
  }
  .container {
    width: 768px;
    margin: 0 auto;
  }
  section {
    padding: 75px 0;
    .container {
      width: 700px;
    }
  }
  .register-tool {
    background: url('../images/bkg-blue-large.png') no-repeat 50% 49%;
    background-size: cover;
    padding: 10px 0 20px;
    .container {
      width: 700px; 
    }
  }
  //*Homepage and State Hero Tablet*//
  section.hero {
    padding: 75px 0;
    .container {
      width: 768px;
    }
    .box {
      width: 32%;
      float: left;
      margin-left: 1.5%;
      margin-bottom: 0px;
      padding: 60px 30px;
      flex: 1;
      text-align: center;
      h2 {
        font-size: 26px;
        line-height: 36px;
        height: 115px;
      }
      .usa-button {
        padding: 10px;
        width: 100%;
      }
      .register-line, .check-registration-line, .mail-line {
        margin-bottom: 20px;
      }
    }
    .boxes {
      display: flex;
      div:nth-of-type(1) {
        margin-left: 0;
      }
    }
  }
  section.quote {
    .container {
      width: 617px;
    }
    blockquote {
      width: 83%;
      &:before {
        left: -58%;
        top: 85px;
      }
      &:after {
        top: -149px;
        right: -48px;
      }
    }
  }
  section.voter-registration-guide .table {
    border: none;
    display: flex;
    .header {
      width: 40%;
      float: left;
      border: 1px solid grey;
      flex: 1;
    }
    .cell {
      float: left;
      width: 60%;
      border: 1px solid grey;
      flex: 1;
    }
  }
  section.faqs {
    .usa-accordion {
      button.question {
        background-position: right 3rem center;
      }
    }
  }
  
  section.site-map {
    .nav-links {
      width: 50%;
      float: left;
      min-height: 248px;
    }
    .about, .partners {
      width: 48%;
      float: left;
    }
    .about {
      margin-right: 2%;
    }
  }
  section.call-to-action {
    .about, .join {
      width: 48%;
      float: left;
    }
    .about {
      margin-right: 2%;
      p {
        margin-bottom: 2px;
      }
    }
    .join {
      border-left: 1px solid #888;
      padding: 0 30px;
    }
    input.zip {
      width: 46%;
      margin-right: 4%;
    }
    input[type="submit"] {
      width: 50%;
    }
  }
  
  tr{
    display:table-row;
    width:100%;
  }
  td{
    display:table-cell;
    background:#efefef;
  }
  
}
//* Desktop *//
@media only screen and (min-width: 980px) {
  .desktop, .desktop-only {
    display: inherit;
  }
  .container {
    width: 900px;
  }

  section, .register-tool {
  .container {
      width: 776px;
    }
  } 

  section.hero {
    .container {
      width: 900px;
    }
    .box {
      h2 {
        height: 100px;
      }
    }
  }
  section.quote {

    blockquote {
      &:before {
        left: -56%;
      }
      &:after {
        top: -150px;
        right: -44px;
      }
    }
  }
  section.table {
    .container {
      width: 900px;
    }
  }
  //*Quick Links Desktop*//
  section.quick-links {
    .container {
      padding: 0;
    }
    h3 {
      margin-top: 0;
      margin-bottom: 10px;
    }
    .links-column {
      width: 24.25%;
      float: left;
      margin-right: 1%;
      ul {
        margin: 0;
        li {
          margin: 0;
          display: block;
          a {
            font-size: 11px;
            line-height: 16px;
          }
        }
      }
      li:before {
        content: "";
        padding-right: 0;
      }
    }
    .container div:nth-last-of-type(2) {
      margin-right: 0;
    }
  }
  section.site-map {
    .nav-links {
      width: 25%;
      min-height: initial;
      li a {
        font-size: 13px;
        text-decoration: none;
      }
    }
    .about {
      width: 46%;
      margin-right: 4%;
    }
    .partners {
      width: 50%;
    }
  }
  section.call-to-action {
    .about p {
      margin-bottom: 23px;
    }
  }
}
//* Larger Desktops *//
@media only screen and (min-width: 1280px) {
   section.hero {
    .box {
      h2 {
        height: auto;
      }
    }
  }
  section.quick-links, section.site-map, section.call-to-action, section.hero {
    .container {
      width: 1160px;
    }
  }

}
@media only screen and (min-width: 1440px) {

  
}

//* IE 9 and 8 Stylings *//






