.partner-footer {
  @extend .container;
  color: white;
  display: flex;
  flex-wrap: wrap;
  &__section {
    width: 100%;
    margin: 0 30px;
    padding-bottom: 30px;
    text-align: center;
    &:last-of-type {
      border-top: 1px solid $color-primary-darkest;
    }
    @include media($mid-screen) {
      padding-bottom: 1.5em;
      text-align: left;
      min-width: 50%;
      width: calc(50% - 60px);
      max-width: 400px;
      &:first-of-type {
        margin-left: 0;
      }
      &:last-of-type {
        border-top: 0;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}

.partner-footer-container {
  width: 100%;
  height: 100%;
  background-color: #0071bc;
}
