/*Search Results*/

body.search-results {
	article {
		border-bottom: 1px #ccc solid; 
		padding: 20px 0;
		h2 {
			margin-top: 0px;
			margin-bottom: 0px;
			font-size: 21px;
			line-height: 31px;
		}
		p {
			margin-top: 0px;
			margin-bottom: 0px;
		}
	}
}